:root {
  --resume-width: 1020px;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../assets/images/bg.png');
  z-index: -1;
}

* {
  box-sizing: border-box;
}

/* Welcome */

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.welcome-wrapper {
  transform: scale(0.4);
}

.aboutWrapper {
  zoom: 40%;
}

@media only screen and (min-width: 500px) {
  .welcome-wrapper {
    transform: scale(0.6);
  }

  .aboutWrapper {
    zoom: 50%;
  }

  .footer-links {
    transform: scale(1.4);
  }
}

@media only screen and (min-width: 650px) {
  .aboutWrapper {
    zoom: 65%;
  }
}

@media only screen and (min-width: 800px) {
  .welcome-wrapper {
    transform: scale(0.8);
  }

  .aboutWrapper {
    zoom: 80%;
  }
}

@media only screen and (min-width: 1100px) {
  .welcome-wrapper {
    transform: scale(1);
  }

  .aboutWrapper {
    zoom: 100%;
  }
}

.welcomeMessage {
  position: relative;
  animation: 5s welcome ease-in-out infinite;
}

@keyframes welcome {
  0% {
    bottom: 0px;
    color: #000;
  }

  10% {
    bottom: 0px;
    color: #000;
  }

  18% {
    bottom: 30px;
    color: #777;
  }

  23% {
    bottom: 0px;
    color: #000;
  }

  100% {
    bottom: 0px;
    color: #000;
  }
}

/* About */

.aboutWrapper {
  background: #d5d5d5;
  font-size: 30px;
  word-break: break-word;
  height: 400px;
  box-shadow: 2px 2px 20px #626262;
  padding: 30px;
  text-shadow: 2px 2px grey;
  text-align: left;
  line-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutLeft,
.aboutRight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.aboutRight {
  margin-left: 100px;
}

.aboutLeftWrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 25px 5px grey;
}

.aboutTextCursor {
  border: 1px solid;
  animation: 1s blink infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.aboutTextStrong {
  color: #ffcc88;
  font-weight: bold;
}

/* Achievements */
.achievements-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.achievements-title {
  margin-bottom: 20px;
}

.achievements-title-wrapper {
  text-align: left;
  font-size: 40px;
  width: 800px;
}

@media only screen and (max-width: 800px) {
  .achievements-title-wrapper {
    width: calc(100vw - 60px);
    font-size: 30px;
  }
}

/* Resume */

.resume-download-container {
  display: flex;
  width: 100vw;
  justify-content: center
}

.resumeDownload {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(145deg, #ffffff, #dddddd);
  box-shadow: 5px 5px 10px #626262,
    -2px -2px 10px #ffffff;
  border: none;
}

.resumeDownload:hover {
  background: #ddd;
}

@media only screen and (max-width: 600px) {
  .resumeDownload {
    zoom: 80%;
  }

  .footer-right {
    display: none;
  }
}

.resumeContainer {
  width: var(--resume-width);
  height: calc(1.414516129032258 * var(--resume-width));
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 40px;
  background: #f5f5f5;
  box-shadow: 5px 5px 10px grey;
}

@media only screen and (max-width: 500px) {
  .resumeContainer {
    height: calc(1.414516129032258 * var(--resume-width) + 200px);
  }

  .aboutLeftWrapper {
    border-radius: 0;
  }

  .achievements-title-wrapper {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1200px) {
  /* .resumeContainer {
    zoom: calc(100vw / 1000 * 100)%;
  } */

  .resume-download-container {
    display: none;
  }
}

.resumeHeader {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #394b59;
  color: #f5f5f5;
  font-size: 35px;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 20px;
  line-height: 50px;
}

.resumeBody {
  width: 100%;
  display: flex;
}

.resumeMain {
  width: 70%;
}

.resumeIntro,
.resumeWorkHistory,
.resumeAccomplishments,
.resumeEducation,
.resumeSideItem {
  padding: 15px 20px 0px;
}

.resumeSectionTitle,
.resumeJobTitle,
.resumeAccomplishmentsTitle,
.resumeSideItemTitle {
  font-size: 20px;
  font-weight: 500;
}

.resumeJobTitle {
  font-size: 18px;
}

.resumeJobTitle {
  margin-bottom: 10px;
}

.resumeWorkHistoryBody,
.resumeAccomplishmentsBody,
.resumeEducationBody {
  display: flex;
}

.resumeAccomplishmentsBody {
  flex-direction: column;
}

.resumeWorkHistoryMonths,
.resumeEducationMonths {
  width: 30%;
}

.resumeWorkHistoryDetails,
.resumeEducationDetails {
  width: 70%;
}

.resumeAccomplishmentsDetails,
.resumeEducationDetails {
  width: 100%;
}

.resumeJobUl,
.resumeEducationUl {
  padding-left: 15px;
  margin: 0;
  margin-top: 10px;
}

.resumeAccomplishmentsUl {
  margin-top: 10px;
}

.resumeSide {
  width: 30%;
}

.resumeSideItem {
  word-break: break-word;
  font-size: 14px;
}

.resumeSideItemTitle {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.resumeLink:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  font-size: 20px;
  width: 70vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin-top: 30px;
}

@media only screen and (max-width: 499px) {
  .footer-links {
    transform: scale(1.2);
  }
}

/* -------------------------- */

.convex {
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #dddddd);
  box-shadow: 6px 6px 10px #626262,
    0px 0px 10px #ffffff;
  padding: 10px 25px;
}

.concave {
  border-radius: 15px;
  background: linear-gradient(145deg, #dddddd, #ffffff);
  box-shadow: 6px 6px 10px #626262,
    0px 0px 10px #ffffff;
  padding: 10px 25px;
}

.multi-color-text {
  background: -webkit-linear-gradient(green, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}